@model AssignmentOkoone.Models.ARTICLE

@{
    ViewBag.Title = "Details";
}

<div>
    <h4>ARTICLE</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ARTICLE_TITLE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ARTICLE_TITLE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DESCRIPTION)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DESCRIPTION)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CREATED_AT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CREATED_AT)
        </dd>

    </dl>
</div>
<p>
    <a href="@Url.Action("Edit", "ARTICLE", new { id = Model.ID })" class="btn btn-primary">Edit</a>
    <a href="@Url.Action("Index", "ARTICLE")" class="btn btn-default">Cancel</a>
</p>
